<div class="row">
	<div class="col8">
		<h2>Eigen gemiddelden</h2>
		<%= pie_chart({"Vitaliteit" => @vitality.average(:answer), "Toewijding" => @dedication.average(:answer), "Absorbtie" => @absorption.average(:answer)}, :id => "main-chart")  %>
	</div>
	<div class="col4">
		<h2>Rating geschiedenis</h2>
		<div class="history">
			<% @answer_by_day.each do |day, answers| %>
			<div>
				<h4><%= day.strftime("%A %d %B") %></h4>
				<div class="historical_answers">
					<div>
						<% for answer in answers %>
						<p><%= Scale.find(Question.find(Playlist.find(answer.playlist_id).question_id).scale_id).scale %>: <%= answer.answer %></p>
						<% end %>
					</div>
					<div>
						<%= image_tag("smileys/#{((answers.map{|m| m.answer.to_f }.sum / answers.map{|m| m.answer.to_f }.count).round)}.png") %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<div class="row-end">&nbsp;</div>

<div class="row">
	<div class="col12">
		<h2>Test</h2>
		<%= line_chart User.group_by_day(:created_at).count %>
	</div>
</div>
<div class="row-end">&nbsp;</div>

