<h2>Registratie</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div><%= f.label :email %><br />
		<%= f.email_field :email, :autofocus => true %>
	</div>

	<div><%= f.label :password, "Wachtwoord" %><br />
		<%= f.password_field :password %>
	</div>

	<div><%= f.label :password_confirmation, "Wachtwoord bevestiging" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
  
	<div>
		<%= f.text_field :first_name, :placeholder => 'Voornaam' %>
		<%= f.text_field :last_name, :placeholder => 'Achternaam' %>
	</div>

	<div>
		<%=  f.text_field :place, :placeholder => 'Woonplaats' %>
	</div>

	<div>
		<%= f.date_select :birthday, :start_year => Time.now.year - 67, :end_year => Time.now.year - 16, :order => [:day, :month, :year] %>
	</div>
 	<div>Geslacht:</div>
	<div>
		<%= f.label 'Man'%>
		<%= f.radio_button :gender, "Man" %>

		<%= f.label 'Vrouw'%>
		<%= f.radio_button :gender, "Vrouw" %>
	</div>

	<div>
		<%= f.text_field :education, :placeholder => 'Opleidingsniveau' %>
	</div>

	<div>
		<%=  f.text_field :employment, :placeholder => 'Bedrijfsnaam' %>
		<%=  f.text_field :work_location, :placeholder => 'Werk locatie' %>
	</div>

	<div>
		<%= f.text_field :section, :placeholder => 'Branche' %>
		<%=  f.text_field :function, :placeholder => 'Functie' %>
	</div>
	<div>Leidinggevende?</div>
	<div>
		<%= f.label 'Ja'%>
		<%= f.radio_button :management, "Yes" %>

		<%= f.label 'Nee'%>
		<%= f.radio_button :management, "No" %>
	</div>
	
	<div>
		<%=  f.text_field :employees, :placeholder => 'Aantal werknemers' %>
	</div>
	<div>
		<%=  f.text_field :hours_week, :placeholder => 'Uren per week' %>
	</div>
	<div>
		<%=  f.text_field :salary, :placeholder => 'Salaris' %>
	</div>




  <div><%= f.submit "Registreren" %></div>
<% end %>

<%= render "devise/shared/links" %>
