<!DOCTYPE html>
<html>
<head>
  <title>Rateyourday</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="layout-978">
			<div class="row">
				<ul>
					<div class="col8">
						<li id="logo"><a href="#">Rate your day</a></li>
						<li><a href="#">Statistieken</a></li>
						<li><a href="#">Verslagen</a></li>
					</div>
					<div class="col4">
						<% if user_signed_in? %>
							<li><%= current_user.first_name + " " +current_user.last_name %>
							<ul>	
								<li><%= link_to "Mijn profiel", profile_path %></li>
								<li><%= link_to "Log uit", destroy_user_session_path, :method => :delete %></li>
							</ul>
						<% else %>
							<li><%= link_to "inloggen", new_user_session_path %></li>
							<li><%= link_to "Registreren", new_user_registration_path %> of <%= link_to "inloggen", new_user_session_path %></li>
						<% end %>
						</li>
					</div>
				</ul>
			</div>
			<div class="row-end">&nbsp;</div>
		</div>

	</header>
	<div class="layout-978">
		<div class="row">
			<div class="col12">
				
			</div>
			<div class="row-end">&nbsp;</div>
		</div>
	
	<div id="user_nav">
		<% if user_signed_in? %>
		Ingelogd als <%= current_user.first_name + " " +current_user.last_name %>. 
		<%= link_to "Log uit", destroy_user_session_path, :method => :delete %>
		<% else %>
		<%= link_to "Registreren", new_user_registration_path %> of <%= link_to "inloggen", new_user_session_path %>
		<% end %>
	</div>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
